{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}  <!-- loaded crispy form -->

 <div class="row">

    <!-- left side bar -->
    <!-- load the sidebar here -->

    {% include 'dashboard/sidebar.html' %}



     <!-- right side bar -->
     <div class="col-md-9">
        <h2>Edit Post </h2>

        <form action=" {% url 'edit_post' post.id %} " method="POST" enctype="multipart/form-data" >
            {% csrf_token %}

            {{ form | crispy }} <!-- crispy form -->

            <button type="submit" class="btn btn-warning" >Update</button>
        </form>
        <br>
       
     </div>


</div>



{% endblock %}